{% extends "@web/base.html.twig" %}

{% block title %}Game{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('graph_css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('graph') }}
{% endblock %}

{% block content %}
    <div class="menu">
        <a class="menu-item logo" href="{{ path('admin_main_page') }}">B</a>
        <div class="menu-item new-node">New</div>
    </div>

    <div class="app"
         data-url="{{ path('graph_game', {'id': game.id}) }}"
         data-game-id="{{ game.id }}"
    >
        <div class="background"></div>
        <svg height="100%" width="100%"></svg>
        <div class="graph"></div>
        <div class="throbber"></div>
    </div>

    <div class="modal question-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редатировать вопрос #<span id="modal-question-id"></span></h5>
                    <button type="button" class="close action-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-question-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary action-close">Закрыть</button>
                    <button type="button" class="btn btn-primary action-save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal answer-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редатировать ответ  #<span id="modal-answer-id"></span></h5>
                    <button type="button" class="close action-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-answer-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary action-close">Закрыть</button>
                    <button type="button" class="btn btn-primary action-save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="answer-template">
        <div class="answer" data-id="<%-answer.id%>" data-view-id="<%-answer.viewId%>">
            <div class="answer-text" contenteditable="true" data-id="<%-answer.id%>" data-view-id="<%-answer.viewId%>" data-placeholder="Ответ..."><%-answer.text%></div>
            <div class="answer-remove">x</div>
            <div class="pin pin-answer"></div>
        </div>
    </script>

    <script type="text/template" id="node-template">
        <div
            class="node detached <%= isStart ?  'isStart' : '' %>"
            id="<%-id%>"
            data-node-id="<%-nodeId%>"
            style="transform: translate(<%-position.x%>px, <%-position.y%>px);"
            data-view-id="<%-viewId%>"
        >
            <% if (!isStart) { %>
                <div class="pin pin-node"></div>
            <% } %>
            <div class="node-header">
                <div class="title">Node</div>
                <div class="node-delete" data-node-delete>x</div>
            </div>
            <div class="text" contenteditable="true" data-text data-placeholder="Ваш текст..."><%-text%></div>
            <div class="options">{% apply spaceless %}
                <% answers.forEach(function(answer) { %>
                <div class="answer" data-id="<%-answer.id%>" data-view-id="<%-answer.viewId%>">
                    <div class="answer-text" contenteditable="true" data-id="<%-answer.id%>" data-view-id="<%-answer.viewId%>" data-placeholder="Ответ..."><%-answer.text%></div>
                    <div class="answer-remove">x</div>
                    <div class="pin pin-answer"></div>
                </div>
                <% }) %>
                {% endapply %}</div>
            <div class="option-title">Добавить</div>
            </div>
    </script>

    <script type="text/template" id="linearGradient">
        <linearGradient id="e"
                        x1="<%-x1%>"
                        y1="<%-y1%>"
                        x2="<%-x2%>"
                        y2="<%-y2%>"
                        gradientUnits="userSpaceOnUse"
        >
            <stop stop-color="#8be1e7" offset="0" />
            <stop stop-color="#f3cbf2" offset="1" />
        </linearGradient>
    </script>

    <script type="text/template" id="line-template">
        <g
            class="<%-answerLineId%> <%-nodeLineId%>"
            data-view-id="<%-answerLineId%>"
            data-answer-view-id="<%-answerViewId%>"
        >
            <defs>
                <linearGradient
                    id="gradient-<%-answerLineId%>"
                    class="gradient"
                    x1="<%-x1%>"
                    y1="<%-y1%>"
                    x2="<%-x2%>"
                    y2="<%-y2%>"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop offset="0" />
                    <stop offset="1" />
                </linearGradient>
            </defs>
            <line
                class="line"
                x1="<%-x1%>"
                y1="<%-y1%>"
                x2="<%-x2%>"
                y2="<%-y2%>"
                stroke="url(#gradient-<%-answerLineId%>)"
            >
            </line>
            <g class="remove-link">
                <title>Remove link</title>
                <circle
                        cx="<%- (x2-x1)/2 + x1 %>"
                        cy="<%- (y2-y1)/2 + y1 %>"
                ></circle>
                <text
                    x="<%- (x2-x1)/2 + x1 - 4 %>"
                    y="<%- (y2-y1)/2 + y1 + 4 %>"
                >x</text>
            </g>
        </g>
    </script>
{% endblock %}


