{% extends "@web/base.html.twig" %}

{% block title %}Game{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('graph_css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('graph') }}
{% endblock %}

{% block content %}
    <div class="graph"
         data-url="{{ path('graph_game', {'gameId': game.id}) }}"
         data-game-id="{{ game.id }}"
    >
        <svg height="100%" width="100%">
        </svg>
        <div class="menu">
            <div class="new-node">New</div>
        </div>
    </div>

    <div class="modal question-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редатировать вопрос #<span id="modal-question-id"></span></h5>
                    <button type="button" class="close action-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-question-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary action-close">Закрыть</button>
                    <button type="button" class="btn btn-primary action-save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal answer-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редатировать ответ  #<span id="modal-answer-id"></span></h5>
                    <button type="button" class="close action-close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea id="modal-answer-text"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary action-close">Закрыть</button>
                    <button type="button" class="btn btn-primary action-save">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="node-template">
        <div
            class="node detached <%= isStart ?  'isStart' : '' %>"
            id="<%-id%>"
            data-node-id="<%-nodeId%>"
            style="top: <%-position.y%>px; left: <%-position.x%>px;"
            data-view-id="<%-viewId%>"
        >
            <% if (!isStart) { %>
                <div class="pin pin-node"></div>
            <% } %>
            <div class="node-header">
                <div class="title">Node</div>
                <div class="node-delete" data-node-delete>x</div>
            </div>
            <div class="text"><%-text%></div>
            <div class="options">
                <% answers.forEach(function(answer) { %>
                <div class="answer" data-id="<%-answer.id%>" data-view-id="<%-answer.viewId%>">
                    <div class="answer-text" contenteditable="true" data-id="<%-answer.id%>" data-view-id="<%-answer.viewId%>"><%-answer.text%></div>
                    <div class="answer-remove">x</div>
                    <div class="pin pin-answer"></div>
                </div>
                <% }) %>
            </div>
            <div class="option-title">Добавить</div>
            </div>
    </script>

    <script type="text/template" id="line-template">
        <g
            class="<%-answerLineId%> <%-nodeLineId%>"
            data-view-id="<%-answerLineId%>"
            data-answer-view-id="<%-answerViewId%>"
        >
            <line
                class="line"
                x1="<%-x1%>"
                y1="<%-y1%>"
                x2="<%-x2%>"
                y2="<%-y2%>"
                style="stroke:rgb(255,0,0);stroke-width:2"
            >
            </line>
            <g class="remove-link">
                <title>Remove link</title>
                <circle
                        cx="<%- (x2-x1)/2 + x1 %>"
                        cy="<%- (y2-y1)/2 + y1 %>"
                        r="7"
                        stroke-width="1"
                        stroke="black"
                        fill="red"
                >

                </circle>
                <text
                    x="<%- (x2-x1)/2 + x1 - 4 %>"
                    y="<%- (y2-y1)/2 + y1 + 4 %>"
                    cursor="pointer"
                >
                    x
                </text>
            </g>
        </g>
    </script>
{% endblock %}


