{% extends "@web/base.html.twig" %}

{% block title %}Game{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('jointjs_css') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('graph') }}
{% endblock %}

{% block content %}
    <h2>{{ game.name }}</h2>
    <div class="graph" data-url="{{ path('graph_game', {'gameId': game.id}) }}"></div>
{% endblock %}


